

#user_name {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 50%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

#user_nickname {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 50%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

#user_email {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 50%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

#user_password {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 50%;
  padding: 0.75rem;
  margin-bottom: 10px;
}


#user_password_confirmation {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 50%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

.profile-edit {
  width: 450px;
  height: 40px;
  background: #b3ddff;
  border: solid;
  border-color: #7ec5ff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-show {
  margin: 10px auto;
  width: 100%;
}

.button-white {
  width: 450px;
  height: 40px;
  border: solid;
  border-color: #7ec5ff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
}

.fa-solid {
  color: #326cf4;
}

.fa-regular {
  color: #326cf4;
}
